<% if @game.errors.any? %>
  <div class="alert alert-warning">
    <div>
      The form contains <%= pluralize(@game.errors.count, "error") %>.
    </div>
    <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>