<h1>Welcome to Hangman</h1>
<h3>At some point in future this is where it would be nice to show an aggregated list of all games and their states.</h3>
<%= button_to "New Game", {action: "create"}, id: "new_game" %>