<h1>Welcome to Hangman</h1>
<h2>A Game of Lynching by Adam Beswick</h2>

<div class="col-md-6 col-md-offset-3">
  <column class="left-column">
    <%= button_to "New Game", action: "create"%>
    <%= render 'shared/game_statistics' %>
    <%= render 'shared/submission' %>
  </column>
</div>

<div class="col-md-6 col-md-offset-3"></div>
    <column class ="right-column">
      <%= display_hangman_lives(@game) %>
  </column>
</div>